h1 {
    text-align: center;
    /*This makes the font normal, for h1, the default is bold*/
    font-weight: 400;
    text-decoration: dotted green overline;
    letter-spacing: 20px;
    /*pixels are not amazing with responsive websites, use em instead or something more responsive*/
    font-size: 10em;
    /*It will check one at a time for each font, applies the first valid font they can find on the system*/
    font-family: Calibri, Futura, Arial, Serif;

}

header {
    font-size: 10px;
}

h2 {
    font-size: 2em;
}

article {
    font-size: 15px;
}

ul {
    font-size: 1.5em;
}

/*For ids, it should be unique per each project*/
/*Keep Ids to a minimum, there are other better strategies*/
/*ID>CLASS>ELEMENT^*/
/*Block elements are easier to manipulate than inline elements*/
/*If you want inline, use inline-block*/
/*Relative units: */

div {
    /*border sizes are normally in pixels*/
    /*you need all 3 of them to see the border*/
    border-width: 10px;
    border-color: #023047;
    border-style: solid;
    /*This rounds off the edges of the box, very useful function*/
    border-radius: 20%;
    /*Padding is very important, the space between the border and the text*/
    padding: 20px;
    /*There are margins by default, the margin is the space between your box and the sides of the window */
    margin: 10px;
}

h1::first-letter {
    color: green;
}

p::first-line {
    color: purple;
}

*::selection {
    background-color: #d62828;
}

#p1 {
    font-weight: 100;
}

#p2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

h2, h3 {
    margin-left: 0px;
    color: red;
    background-color: yellow;
    padding-left: 15px;
    /*For inline elements, width is ignored, heigh is ignored,
     padding is ok, margin only respect horizontal*/
    /*Makes block level elements to inline, very useful*/
    display: inline-block;
    height: 200px;
    width: 200px;
    padding-right: 20px;

}

/*For classes, like putting stickers on things*/
.tap {
    background-color: blue;
    font-size: 2em;
}

/*For IDs, use sparingly*/
#button2 {
    color: #f4f1de;
    background-color: #e07a5f;
}

/*Only changes the button, does not touch the h2*/
h2 + button {
    color: magenta;
    background-color: black;
}

/*Will only select the span texts in the paragraph, you can make multilayers*/
p span {
    color: teal;
}

/*Changes settings of only the inputs that are passwords*/
input[type="password"] {
    color: red;
}

/*Changes color when you hover over the button*/
a:hover {
    color: #ff006e;
    text-decoration: underline;
}

body {
    /*no more space between the content and the sides on the website*/
    margin: 0px;
}

/*Changes color when you click on it*/
a:active {
    color: #f28482;
}

p + button {
    color: red;
}

button {
    color: #fb8500;
    background-color: #023047;
}


p {
    font-weight: bold;
    line-height: 1.25;
}